body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 100%;       /* 設定欄位寬度為 100% */
    padding: 10px;     /* 增加內距以讓欄位更容易點擊 */
    font-size: 16px;   /* 調整字體大小 */
    box-sizing: border-box; /* 確保 padding 不影響元素寬度 */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#message {
    margin-top: 20px;
    color: red;
}

#qrCode {
    margin-top: 20px;
}
